:root {
    --secondary: rgb(147, 165, 183);
    background-color: #161e27;
    color: #fff;
    font-family: system-ui, "Helvetica", sans-serif;
    font-size: 18.75px;
    line-height: 24px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 29.09px;
    line-height: 32px;
}

.secondary {
    color: var(--secondary);
}

.canvas {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 568px;
    margin: 0 auto;
}

.hstack {
    display: flex;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 12px;
}

.gap-lg {
    gap: 24px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(215, 221, 228);
    border: 0;
    color: rgb(38, 53, 68);
    font-weight: bold;
    font-size: 13.125px;
    line-height: 15px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    cursor: pointer;
}

.tweet {
    border: 1px solid rgb(46, 64, 82);
    border-radius: 24px;
    padding: 16px;
}

.tweet-content {
    min-height: 24px;
}

.tweet-header {
    display: flex;
    gap: 12px;
    padding-bottom: 12px;
}

.tweet-footer {
    padding-top: 12px;
}

.tweet-time {
    font-size: 13.125px;
    line-height: 13.125px;
    color: var(--secondary);
}

.pfp {
    --size: 42px;
    background: rgb(30, 41, 54);
    height: var(--size);
    width: var(--size);
    border-radius: calc(var(--size) / 2);
}

.pgroup {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
}

.username {
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: var(--secondary);
}
